---
import '../styles/global.css';
import '@fontsource/inter';

interface Props {
	title: string;
}

import { getAssetPath } from '../utils/url.js';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Revive - Next-Morning Clarity" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={getAssetPath("favicon.svg")} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
